{% extends '::base.html.twig' %}

{% block body %}
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">MODAG</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Localisation <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="#/communes">Commune</a></li>
                            <li class="divider"></li>
                            <li><a href="#/quartiers">Quartier</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Bureau <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a href="#/postes">Poste</a></li>
                            <li class="divider"></li>
                            <li><a href="#/membres">Membre</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Affichage <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            <li><a href="#/membreByLocalite">Membre par localite</a></li>
                            <li><a href="#/organigramme">Organigramme</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container">
        {% verbatim %}
            <direc-message>
                <div ng-show="displayMessage" class="alert alert-dismissible alert-{{ type }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>{{ header }}</h4>
                    <p> {{ content }}</p>
                </div>
            </direc-message>

        {% endverbatim %}
        <div ng-view></div>
    </div>


{% endblock body %}