
<form class="form-horizontal" name="formMembre" ng-submit="save(method)">
    <div class="form-group">
        <label class="col-md-3 control-label" for="nom">Nom</label>
        <div class="col-md-4">
            <input id="nom" type="text" class="form-control" ng-model="newMembre.nomMembre" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="prenom">Prenom</label>
        <div class="col-md-4">
            <input id="prenom" type="text" class="form-control" ng-model="newMembre.prenomMembre" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="telephone">Telephone</label>
        <div class="col-md-4">
            <input id="telephone" type="text" class="form-control" ng-model="newMembre.telephone" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="email">Email</label>
        <div class="col-md-4">
            <input id="email" type="text" class="form-control" ng-model="newMembre.email" required/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label" for="poste">Le poste occupe</label>
        <div class="col-md-4">
            <select class="form-control" id="poste" ng-model="newMembre.poste"
                    ng-options="poste.libellePoste
                         for poste in postes track by poste.id">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label" for="commune">La commune</label>
        <div class="col-md-4">
            <select class="form-control" id="commune" ng-model="commune"
                    ng-options="commune.libelleCommune
                         for commune in communes track by commune.id" ng-change="selectCommune(commune)">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label" for="quartier">Le quartier</label>
        <div class="col-md-4">
            <select class="form-control" id="quartier" ng-model="newMembre.quartier"
                    ng-options="quartier.libelleQuartier
                         for quartier in quartiers track by quartier.id">
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" class="btn btn-default" value="Enregistrer" />
        </div>
    </div>

</form>

<div class="page-header">
    <h1 id="tables">LISTE DES MEMBRES</h1>
</div>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>#</th>
        <th>Nom </th>
        <th>Prenom</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Poste</th>
        <th>Quartier</th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="membre in membres">
        <td>{{$index}}</td>
        <td>{{membre.nomMembre}}</td>
        <td>{{membre.prenomMembre}}</td>
        <td>{{membre.telephone}}</td>
        <td>{{membre.email}}</td>
        <td>{{membre.poste.libellePoste}}</td>
        <td>{{membre.quartier.libelleQuartier}}</td>
        <td>
            <button href="#" class="btn btn-default" ng-click="editMembre(membre)"> Modifier</button>
            <button href="#" class="btn btn-default" ng-click="deleteMembre(membre)"> Supprimer</button>
        </td>
    </tr>
    </tbody>
</table>