<div orgchart="" source="basic-chart-source" interactive="true" show-levels="2">
<!--
    <ul id="basic">
        <li ng-repeat="p in postes| orderBy:'ordreHierarchie' |filter:{ordreHierarchie:0}">{{p.libellePoste}}
            <ul>
                <li ng-repeat="subordonnee in p.subordonnees">{{subordonnee.libellePoste}}
                    <ul>
                        <li ng-repeat="s in subordonnee.subordonnees">{{s.libellePoste}}
                    </ul>
                </li>
            </ul>

        </li>
    </ul>
-->
<!--
    <ul  id="basic-chart-source" class="hide">
        <li ng-repeat="p in postes">{{p.libellePoste}}
            <ul>
                <li ng-repeat="subordonnee in p.subordonnees">{{subordonnee.libellePoste}}
                    <ul>
                        <li ng-repeat="s in subordonnee.subordonnees">{{s.libellePoste}}
                    </ul>
                </li>
            </ul>

        </li>
    </ul>
-->
</div>

